body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.default-font {
    font-family: sans-serif;
    color: rgb(117, 117, 117);
    font-size: 14pt;
    line-height: 1.3em;
}

.blog-title {
    text-align: center;
    font-size: 48pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: blue;
}

.entry {
    width: 60vw;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.entry-title {
    color: black;

}

.entry-datetime {
    font-weight: bold;
}   

.entry-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tags {
    font-size:12pt;
    font-style: italic;
}

.email-text {
    font-size:12pt;
    font-style: italic;
    color: blue;
}